.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* Estilos para el contenedor de la galería */
.gallery-container {
    max-height: 600px;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* Estilos para las tarjetas dentro del contenedor */
.gallery-container .card {
    margin-bottom: 1rem;
}

/* Ocultar scroll horizontal */
.gallery-container::-webkit-scrollbar {
    width: 8px;
}

.gallery-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.gallery-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.gallery-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}